 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

a.slider {
   margin-top: 250px;
   padding: 10px 25px;
   background-color: #ddd;
   position: relative;
   color: #000;
   border-radius: 25px;
   text-decoration: none;
   z-index: 10;
}



#mySlider, #myReverseSlider {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 300px;
}

.singleSlide { 
   font-family: 'Roboto', sans-serif;
   background-size:  100% 600px;
   background-position:  center top;
   height: 300px;
   position: absolute;
   left: 100%;
   width: 100%;
   top: 0px;
   text-align: center;
}

.titleSlide{
   color: #fff;  
   font-size: 70px;
   margin-top: 150px;
}

.reverse{
   font-size: 20px;
   color: #000;  
   background-position: center bottom;

}
.slideOverlay>h4{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
   background-color: #aaa;
   height: 80px; 
}


.prev, .next{
   font-weight: 700;
   font-family: 'Roboto', sans-serif;
   height: 600px;
   width: 50%;
   z-index: 3;
   position: absolute;
   top: 80px;
   opacity: 0;
}

.next{
   right: 20px;
}
#sliderNav {
   position: relative;
   top: -175px;
}

#sliderNav:hover { cursor: pointer;    }

#sliderPrev {
   position: relative;
   float: left;
   left: 50px;
}

#sliderNext {
   position: relative;
   float: right;
   right: 50px;
}

@-webkit-keyframes slideIn {
   100% { left: 0; }
}

@keyframes slideIn {
   100% { left: 0; }
}

.slideInRight {
   left: -100%;
   -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
}

.slideInLeft {
   left: 100%;
   -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
   100% { left: -100%; }
}

@keyframes slideOutLeft {
   100% { left: -100%; }
}

.slideOutLeft {
   -webkit-animation: slideOutLeft 1s forwards;
   animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
   100% { left: 100%; }
}

@keyframes slideOutRight {
   100% { left: 100%; }
}

.slideOutRight {
   -webkit-animation: slideOutRight 1s forwards;
   animation: slideOutRight 1s forwards;
}
